<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:device_id) %></th>
      <th><%= model_class.human_attribute_name(:package_id) %></th>
      <th><%= model_class.human_attribute_name(:start_date_time) %></th>
      <th><%= model_class.human_attribute_name(:end_date_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td class="media-table-links"><%= link_to schedule.id, schedule_path(schedule) %></td>
        <td><%= schedule.device.name %></td>
        <td><%= schedule.package.name %></td>
        <td><%= schedule.start_date_time %></td>
        <td><%= schedule.end_date_time %></td>
        <td>
          <%= force_button(schedule) %>
          <%= render :partial => 'modal_dialog' %>
          <%= edit_button edit_schedule_path(schedule) %>
          <%= delete_button schedule_path(schedule) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>

