<%= simple_form_for @asset, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :package %>
  <%= f.input :name %>

  <% if @asset.id.present? %>
    <div class="control-group">
      <div class="controls">
        <div id="fileupload">
          <% if @asset.media_type.eql?('mp4') %>
              <div class="fileupload-new thumbnail" style="width: 320px; height: 240px;"><%= video_tag @asset.asset_file.present? ? @asset.asset_file : "default-image.jpg", :id => 'asset_file', :size => "320x240", :controls => true %></div>
          <% else %>
            <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;"><%= image_tag @asset.asset_file.present? ? @asset.asset_file : "default-image.jpg", :id => 'asset_file' %></div>
          <% end %>
        </div>
        <div class="progress" hidden="true" style="width: 30%;" >
          <div class="bar" style="width: 0%;"></div>
        </div>
        <div id="file-browse" hidden="hidden">
            <%= f.file_field :asset_file, :id => 'btn_upload' %>
        </div>
        <br/>
        <a id="btn_browse" class="btn btn-success">
          Select File <i class="icon-upload icon-white"></i>
        </a>
      </div>
    </div>
        <script>
            var asset_id = <%= @asset.id.nil? ? 'null' :  @asset.id %>;
            $(function () {

                $("#btn_browse").on("click", function(event)
                {
                    $("#btn_upload").trigger('click');
                });


                $('#fileupload, #btn_upload').fileupload({
                    dataType:'json',
                    url:'/controllers/'+ asset_id +'/assets/' + asset_id + '/add_image_to_asset.json',
                    add:function (e, data) {
                        var goUpload = true;
                        var uploadFile = data.files[0];
                        console.log("Attempting to upload file");
                        if (!(/\.(gif|jpg|jpeg|tiff|png|mp4|mp3|wav|avi|zip|gzip|gz|)$/i).test(uploadFile.name)) {
                            alert('File type not allowed');
                            goUpload = false;
                        }
                        if (uploadFile.size > 30000000) { // 30mb
                            alert('Please upload a smaller file, max size is 30 MB');
                            goUpload = false;
                        }

                        if (goUpload)
                        {
                            $('.progress').show();
                            data.submit();
                        }
                    },
                    progress:function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        console.log(progress);

                        $('.progress .bar').css(
                                'width',
                                progress + '%'
                        );
                    },
                    done:function (e, data) {
                        console.log(data);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#asset_file')
                                    .attr('src', e.target.result)
                                    .width(200)
                                    .height(200);
                        };
                        console.log(data.originalFiles[0].type);
                        reader.readAsDataURL(data.originalFiles[0]);
                        $('.progress').hide();
                    }
                });
            });
        </script>
<% end %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                assets_path, :class => 'btn' %>
  </div>
<% end %>
