<%= simple_form_for @asset, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :package %>
  <%= f.input :name %>

  <% if @asset.id.present? %>
    <div class="control-group">
      <div class="controls">
        <div id="fileupload">

          <%= render_media @asset %>

        </div>
        <br/>
        <div class="progress" hidden="true" style="width: 320px;" >
          <div class="bar" style="width: 0%;"></div>
        </div>

        <%= render_upload_button f %>

      </div>
    </div>
        <script>
            var asset_id = <%= @asset.id.nil? ? 'null' :  @asset.id %>;
            $(function () {

                $('#fileupload, #btn_upload').fileupload({
                    dataType:'json',
                    url:'/controllers/'+ asset_id +'/assets/' + asset_id + '/add_image_to_asset.json',
                    add:function (e, data) {
                        var goUpload = true;
                        var uploadFile = data.files[0];
                        console.log("Attempting to upload file");
                        if (!(/\.(gif|jpg|jpeg|tiff|png|mp4|mov|mpg|mp3|wav|avi|zip|gzip|gz|)$/i).test(uploadFile.name)) {
                            alert('File type not allowed');
                            goUpload = false;
                        }
                        if (uploadFile.size > 30000000) { // 30mb
                            alert('Please upload a smaller file, max size is 30 MB');
                            goUpload = false;
                        }

                        if (goUpload)
                        {
                            $('.progress').show();
                            data.submit();
                        }
                    },
                    progress:function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        console.log(progress);

                        $('.progress .bar').css(
                                'width',
                                progress + '%'
                        );
                    },
                    done:function (e, data) {
                        console.log(data);
                        window.location.reload();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            try {
                                $('#asset_file')
                                            .attr('src', e.target.result);
                            }
                            catch (e)
                            {
                                alert(e.message);
                            }
                        };
                        try
                        {
                            console.log(data.originalFiles[0].type);
                            reader.readAsDataURL(data.originalFiles[0]);
                        }
                        catch(e)
                        {
                            alert(e.message);
                        }
                        $('.progress').hide();
                        window.location.reload();
                    }
                });
            });
        </script>
<% end %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                assets_path, :class => 'btn' %>
  </div>
<% end %>
