<%- model_class = Asset -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:package_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:asset_file) %></th>
      <th><%= model_class.human_attribute_name(:media_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.id, asset_path(asset) %></td>
        <td><%= asset.package.name %></td>
        <td><%= asset.name %></td>
        <% if asset.asset_file.present? %>
        <td><%= link_to (URI.parse(root_url) + asset.asset_file.url).to_s, (URI.parse(root_url) + asset.asset_file.url).to_s %></td>
        <% else %>
        <td>Waiting for file to be uploaded...</td>
        <% end %>
        <td><%= asset.media_type %></td>
        <td>
          <%= edit_button(edit_asset_path(asset)) %>
          <%= delete_button(asset_path(asset)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_asset_path,
            :class => 'btn btn-primary' %>
