<%- model_class = Site -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address_line_1) %></th>
      <th><%= model_class.human_attribute_name(:address_line_2) %></th>
      <th><%= model_class.human_attribute_name(:address_line_3) %></th>
      <th><%= model_class.human_attribute_name(:post_code) %></th>
      <th><%= model_class.human_attribute_name(:county) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.id, site_path(site) %></td>
        <td><%= site.name %></td>
        <td><%= site.address_line_1 %></td>
        <td><%= site.address_line_2 %></td>
        <td><%= site.address_line_3 %></td>
        <td><%= site.post_code %></td>
        <td><%= site.county %></td>
        <td><%= site.country %></td>
        <td><%=l site.created_at %></td>
        <td>
          <%= edit_button edit_site_path(site) %>
          <%= delete_button site_path(site) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_site_path,
            :class => 'btn btn-primary' %>
