<% if user_signed_in? %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Media JFX</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Sites", sites_path %></li>
            <li><%= link_to "Devices", devices_path %></li>
            <li><%= link_to "Packages", packages_path %></li>
            <li><%= link_to "Assets", assets_path %></li>
            <li><%= link_to "Schedule", schedules_path %></li>
            <li><%= link_to("Logout - #{current_user.name}", destroy_user_session_path, :method=>'delete') %></li>
          </ul>
        </div>
      </div>
  </div>
</div>
<% end %>